* {
    margin: 0;
    padding: 0;
}
.main-body{

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}
h1{
    color: black;
    font-weight: 40;
    margin-left: -5.5em;
}
.refresher{
    display: flex;
    margin-left: 17em;
}

.refresh-btn{
    display: block;
    align-items: center;
    border-radius: 10px;
    width: 100px;
    
}
/* #allScores > ul{
    border: 1px solid black;
    width: 500px;
    margin-top: 40px;
} */

li{
    width: 300px;
    list-style: none;
    text-align: center;
    align-self: center;
    margin-left: 15em;
}

li:nth-child(odd) {
    background: #bdbebe;
    color: #2e2d2d;
  }

.input-score{
 margin-left: -40em;
 border-radius: 40px;

}
#form{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
    margin-left: 100px;
}
.add-title{
    margin-left: -5em;
}
.input-btn {
    padding: 8px 30px;
    border-radius: 7px;
    outline: none;
    color: #fff;
    font-size: 17px;
    border: 1px solid rgb(205, 208, 209);
    background-color: rgb(99, 100, 100);
  }
  
.input-btn:hover {
    opacity: 0.7;
  }